@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

* a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: rgb(9,35,50);
    color: #fff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
}

    header h1 {
        text-transform: uppercase;
    }

    header span {
        color: rgb(73,170,233)
    }

    header li:first-child a {
        color: rgb(44, 100, 130);
    }

main {
    background-color: #fff;
}

    main section {
        color:#000;
    }

    main nav {
        background-color: rgb(218, 239,253);
        margin:0 -15px;
    }

        main ul {
            display: flex;  
            justify-content: space-around;
            padding: 20px 0;
            width: 600px;
            margin: auto;
        }

        main nav a {
            color: rgb(73,170,233);    
        }

.banner {
    background-image: url(surf.png); 
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}

    .banner h2 {
        font-weight: normal;
        text-transform: uppercase;
    }

    .portfolio{
        color:#fff;
    }

.box {
    background-color: rgb(39,98,138);
}

    .box h3 {
        text-transform: uppercase;
    }

    .button {
        background: linear-gradient(0deg, rgb(52, 151, 190),rgb(73,170,233)) ;
        border: rgb(73,170,233) solid 1px;
        border-radius: 5px;
        padding:5px;
    }

    .secondary h3 {
        text-transform: uppercase;
    }

    .col blockquote {
        background-color: rgb(218, 239,253);
        font-style: italic;
    }

    .col p {
        font-style: italic;
    }

footer {
    display: flex;
    justify-content: space-between;
    padding:15px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    gap:15px;
}

/* Media query para telas de Desktop
*/
@media (min-width:960px) {
    body {
        padding:20px;
    }
    header, main, footer {
        width: 960px;
        margin:0 auto;
    }
    header h1 {
        font-size: 1.5em;
    }

    header ul {
        display: flex;
        justify-content: space-between;
        width: 600px;
        font-size: .8em;
    }

    main {
        padding:15px;
    }
    .banner {
        background-position: 0 -130px;
        height: 270px;
        padding: 50px;
    }
    .banner h2 {
        font-size: 3.2em;
        letter-spacing: 9px;
    }
    .banner p {
        width: 370px;
        font-size: .9em;
    }

    .portfolio{
        display: flex;
        gap:15px;
        margin:20px 0;
    }

    .box {
        padding: 20px;
    }
        .box h3 {
            margin-bottom: 15px;
        }
        .box p {
            font-size: .8em;
            line-height: 1.1em;
            margin-bottom: 30px;
        }
    
    .button {
        font-size: .8em;
    }

    .secondary {
        display: flex;
        gap: 15px;
    }

    .secondary h3 {
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    
    .col-2 {
        width: 630px;
    }
    .col-2 img {
        float:left;
        margin-right: 15px;
    }
    .col-2  p {
        font-size: .7em;
    }
    .col-2 a {
        color: rgb(44, 100, 130);
    }
    
    .col {
        width: 310px;
    }

    .col blockquote {
        padding:20px;
        font-size: .9em;
        line-height: 1.2em;
        clip-path: polygon(100% 0, 0 0, 0 90%, 14% 90%, 19% 100%, 24% 90%, 100% 90%);
    }
    .col p {
        font-size: .8em;
        margin:10px;
    }
}

/* RESOLUÇÃO TABLET
*/
@media (min-width:541px) and (max-width:959px) {
    body {
        padding:15px;
    }
    header, main, footer {
        width: auto;
        margin:0 auto;
    }
    header h1 {
        font-size: 1.3em;
    }

    header ul {
        display: flex;
        justify-content: space-between;
        width: 500px;
        font-size: .8em;
    }

    main {
        padding:15px;
    }
    main nav ul {
        width: 100%;
    }
    
    .banner {
        background-position: 0 -100px;
        height: 220px;
        padding: 40px;
    }
    .banner h2 {
        font-size: 2.5em;
        letter-spacing: 7px;
    }
    .banner p {
        width: 320px;
        font-size: .9em;
    }

    .portfolio{
        display: flex;
        gap:15px;
        margin:20px 0;
    }

    .box {
        padding: 15px;
    }
        .box h3 {
            margin-bottom: 15px;
        }
        .box p {
            font-size: .8em;
            line-height: 1.1em;
            margin-bottom: 30px;
        }
    
    .button {
        font-size: .8em;
    }

    .secondary {
        display: flex;
        gap: 15px;
    }

    .secondary h3 {
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    
    .col-2 {
        width: 65%;
    }
    .col-2 img {
        float:left;
        margin-right: 15px;
    }
    .col-2  p {
        font-size: .7em;
    }
    .col-2 a {
        color: rgb(44, 100, 130);
    }
    
    .col {
        width: 35%;
    }

    .col blockquote {
        padding:15px;
        font-size: .9em;
        line-height: 1.2em;
        clip-path: polygon(100% 0, 0 0, 0 90%, 14% 90%, 19% 100%, 24% 90%, 100% 90%);
    }
    .col p {
        font-size: .8em;
        margin:10px;
    }
}

/* Media query para telas de Mobile
*/
@media (max-width:540px) {
    
    header h1 {
        font-size: 1em;
    }

    header ul {
        display: none;
    }

    main nav {
        display: none;
    }

    .banner {
        background-position: 0 -50px;
        height: 160px;
        padding: 5px;
    }
    .banner h2 {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    .banner p {
        width: 200px;
        font-size: .8em;
    }

    .portfolio{
        display: flex;
        flex-direction: column;
        gap:15px;
        margin: 0;
    }

    .box {
        padding: 20px 10px;
    }
        .box h3 {
            margin-bottom: 15px;
        }
        .box p {
            font-size: .8em;
            line-height: 1.5em;
            margin-bottom: 30px;
        }
    
    .button {
        font-size: 1em;
        padding:15px 20px;
    }

    .secondary {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .secondary h3 {
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    
    .col-2 {
        width: 100%;
    }
    .col-2 img {
        width: 100%;
        margin: 0 0 10px 0;
        float: none;
    }
    .col-2  p {
        font-size: 1em;
    }
    .col-2 a {
        color: rgb(44, 100, 130);
    }
    
    .col {
        width: 100%;
        margin-top: 20px;
    }

    .col blockquote {
        padding:20px;
        font-size: .9em;
        line-height: 1.2em;
        clip-path: polygon(100% 0, 0 0, 0 90%, 14% 90%, 19% 100%, 24% 90%, 100% 90%);
    }
    .col p {
        font-size: .8em;
        margin:10px;
    }

    footer {
        font-size: .8em;
    }
}
